{% extends 'index.html' %}
{% block head %}
    <link rel="stylesheet" href= "static/css/products.css">
    <title>О нас</title>
{% endblock %}

<body>
    {% block content %}
    
    <h1>Здесь расположены данные о всех, кто в какой или иной степени учавствовал в создании Сайта. (в основном)</h1>
    <p>P.s: Это все лица, которые глобально помогли в создании сайта и наполнили его контентом! :)</p>
    
        <table>
      <tr>
        <td>Выживший Рыцарь</td>
        <td>Ранее нарекался Полым Рыцарем, но вскоре был освобождён. Многое рассказал о Истории Халлоунеста, чья информация пошла на Главную страницу. </td>
        <td><img src="/static/images/Pure_V.jpg"  width="100" height="113" /></td>
      </tr>
      
      <tr>
        <td>Починжук</td>
        <td>Мой друг, без которого этого сайта не было бы. Он помог мне в программировании, к подготовке к экзамену Kodland, дизайне и просто был рядом и поддерживал меня.
        Спасибо тебе, Родной!</td>
        <td><img src="/static/images/puchzuk.webp"  width="100" height="100" /></td>
      </tr>
  
      <tr>
        <td>Продавец Слай</td>
        <td>Держит магазинчик с товарами и жуками. (Условия приличные, всех всё устраивает) </td>
        <td><img src="/static/images/SlaiI.jpg"  width="100" height="90" /></td>
      </tr>
      
      <tr>
        <td>Создатель Масок</td>
        <td>Внёс вклад в "Продукцию", создал маски и копии амулетов Ткача. </td>
        <td><img src="/static/images/Mask_auth.jpg"  width="100" height="100" /></td>
      </tr>
  
        <tr>
        <td>Улитка Шаман</td>
        <td>Создала маленьких жуков, полностью схожих характером и внешностью с оригиналами. Создала товар и просит за него нехилый процент. :\  </td>
        <td><img src="/static/images/Shaman.jpg"  width="100" height="90" /></td>
      </tr>
      
      <tr>
        <td>Великий Чаруюющий Сногшибательный Великолепный Ошеломляющий и т.п Серый Принц Зот</td>
        <td>Пристала ко мне эта занощивая букашка. Начал угрожать, что не оцепится, если не добавлю его на сайт. Ну и Вы понимаете...</td>
        <td><img src="/static/images/Zot.jpg"  width="80" height="105" /></td>
      </tr>
      
            <tr>
        <td>Корнифер</td>
        <td>Пишет Карты, раздел "Эксклюзив". </td>
        <td><img src="/static/images/Korni.jpg"  width="100" height="90" /></td>
      </tr>
      
            <tr>
        <td>Гримм</td>
        <td>Сказал, что подарит мне Мрачное Дитя, если добавлю его на сайт :)</td>
        <td><img src="/static/images/Grimm_about.jpg"  width="100" height="90" /></td>
      </tr>
      
            <tr>
        <td>Хорнет</td>
        <td>Недавно пропала безвести. Говорят, что видели её в соседнем королевстве, но скорее всего это выдумки. Если найдёте, позвоните по телефону "+7 (918) 052 66-72". А насчёт сайта, она оставила нам саморучносшитую одежду, пока что в "одном" экземпляре...</td>
        <td><img src="/static/images/Hornet.jpg"  width="100" height="95" /></td>
      </tr>
      
           <tr>
        <td>Богоискательница</td>
        <td> Предоставила ключи к Пантеону. Огромный вклад.</td>
        <td><img src="/static/images/godmaster.png"  width="100" height="95" /></td>
      </tr>
      
         <tr>
        <td>Кузнец Гвоздей</td>
        <td> Сделал нам игрушечные и обычные гвозди.</td>
        <td><img src="/static/images/kuzne.png"  width="100" height="95" /></td>
      </tr>
      
      <tr>
        <td>Художник</td>
        <td> Рисовал наши портреты для сайта.</td>
        <td><img src="/static/images/art.png"  width="100" height="95" /></td>
      </tr>
      
      <tr>
        <td>Вероника</td>
        <td> Основной разработчик и хороший <i>Человек</i> :)</td>
        <td><img src="/static/images/Knight.png"  width="100" height="95" /></td>
      </tr>

    </table>
    
    
<footer>
<p><h1>Hollow Knight - Фан Мир.</h1>
<b>Информация о нас</b></p>
</footer>
    
    {% endblock %}

</body>