{% extends 'index.html' %}
{% block head %}
    <link rel="stylesheet" href= "static/css/contacts.css">
    <title>Контакты</title>
{% endblock %}
<body>
{% block content %}
<h1>Желаете позвонить Нам?</h1>

<table>
  <tr>
  <td ><small>Я -  Вероника :D</small></td>
    <td style="color:#4868D1"> +7 (918) 052 66-72</td>
  </tr>
  
  <tr>
    <td><small>Хорнет (Надеюсь дозвонитесь)</small></td>
    <td style="color:#4D0000">- 88 765 90-00</td>
  </tr>
  
  <tr>
    <td><small>Старейшина</small></td>
    <td style="color:#4868D1">- 100 000 11-23</td>
  </tr>
  <tr>
    <td><small>Слай</small></td>
    <td style="color:#000000">- 100 000 45-67</td>
  </tr>
  <tr>
    <td><small>Корнифер</small></td>
    <td style="color:#4868D1">- 100 000 34-78</td>
  </tr>
  
  <tr>
    <td><small>Выживший Рыцарь</small></td>
    <td style="color:#000000">- 100 000 80-88</td>
  </tr>
  <tr>
  
  <tr>
    <td><small>Художник</small></td>
    <td style="color:#4868D1">- 99 101 34-78</td>
  </tr>
  
  <tr>
    <td><small>Создатель Масок</small></td>
    <td style="color:#000000">- 100 998 74-77</td>
  </tr>
  
  <tr>
    <td><small>Починжук</small></td>
    <td style="color:#4868D1">- 100 776 10-11</td>
  </tr>
  
    <td><small>Зот</small></td>
    <td style="color:#000000">- 100 000 67-85 </td>
  </tr>
  
  
  
    
</table>


<footer>
    <div class="examplethree">
        <h1>Hollow Knight - Фан Мир.</h1>
        <b>Список номеров</b>
        <br><i>Все те, кто так или иначе учавствовал в создании этого Фан-Мира (и содержания сайта).</i></br>
    </div>
</footer>

{% endblock %}
</body>
