<!DOCTYPE html> 
<html> 
  <head> 
    <meta charset="UTF-8"> 
    <link rel="stylesheet" href= "static/css/style.css">
    {% block head %}
        <title>Главная страница</title>
    {% endblock %}
  </head> 
  <body> 
    <header>
        <ul>
        <li><img src="static/images/Logotip.png" alt="Логотип" width="30" height="25"></li>
          <li><a href="/">Главная страница</a></li>
          <li><a href="/products">Продукция</a></li>
          <li><a href="/cart">Корзина</a></li>
          <li><a href="/contacts">Контакты</a></li> 
          <li><a href="/about">О нас</a></li> 
          <li><a href="/logout">Выход</a></li> 
        </ul>
    </header>
    {% block content %}
    <div class='bg-image'>
    <p><h1>Hollow Knight</h1>
    
    -  (с англ. — «Полый Рыцарь») — компьютерная игра в жанре метроидвания, выпущенная инди-студией Team Cherry 24 февраля 2017 года.
    Игра рассказывает о приключениях и открытиях безымянного рыцаря в давно заброшенном королевстве насекомых Халлоунест (англ. - Hallownest). Некоторые критики назвали игру одной из самых атмосферных и качественных метроидваний, а также классикой жанра.
    <br></br></p>
    <br></br>
    
    <small><br>В мире Полово Рыцаря есть множество разнообразных оружий, локаций, врагов и боссов.</br>
    Некоторых из них мы рассмотрим прямо сейчас:</small>
    <br><h1><b>Содержание:</b></h1></br>
        <br> - Оружие</b>
        <br> - Локации</b>
        <br> - Амулеты</b>
        <br> - Боссы</b>
        <br> - Секреты</b>
    <br> </br>
    <br> </br>
    <div class="layer">
        <h1>ОРУЖИЕ:</h1>
        <small><i><br>За всю игру мы ходим лишь с одним мечом, называемый в данном мире "Гвоздём".</br>
        
        Гвоздь можно улучшить пять раз, а можно и вообще не улучшать. Всё на глаз Игрока.
        Дабы вы видели разницу, я покажу фото и характреистики каждого из улучшений, а так же как их получить:</i>
        <br></br>
        <img src="static/images/gvozd.png" alt="Оружие" width="800" height="679">
    </div></small>
    
    <div class="layer_two">
        <h1>Локации:</h1>
        <small><i><br>В игре Hollow Knight всего 18 локаций (2 из которых — секретные), каждая отличается от других своим видом, обитателями, фоновой музыкой. </br>
        Также каждая из зон имеет одну или несколько подлокаций. Герою придётся пропутешествовать по всем местам королевства Халлоунест для
        достижения своих целей.</i>
        <br></br>
        <img src="static/images/Holloynest.jpg" alt="Карта местности" width="900" height="700">
    </div></small>
    
    <div class="layer_free">
        <h1>Амулеты:</h1>
        <small><i><br>Амулеты — специальный вид предметов в игре Hollow Knight, дарующий своему носителю различные бонусы. 
        Каждому амулету необходимо различное количество <i>ячеек</i>, чтобы начать функционировать. Надевать амулеты можно только когда персонаж отдыхает на скамейке.</i>
        <br></br>
        <img src="static/images/amul.jpg" alt="Все амулеты" width="900" height="460">
        <br></br>
        <br></br>
         <h1>Ячейки:</h1>
         <i>Ячейки - "Места", позволяют экипировать большее количество амулетов. Каждый амулет требует разное количество ячеек.
            Изначально Игрок имеет при себе лишь 3 ячейки, ещё 8 можно будет получить в процессе игры.</i>
            <br></br>
         <img src="static/images/icheka.png" alt="Ячейка" width="100" height="100">   
         
    </div></small>


      <div class="layer_four">
        <h1>Боссы:</h1>
        <small><i><br>Боссы — опасные противники, обладающие куда бо́льшим запасом здоровья, нежели обычные враги. 
        Как правило, после сражения босс погибает, тем самым встретиться с ним ещё раз не удастся.</i>
        <i><b>Если не считать боссов из Пантеона.</b></i>
        <br></br>
        <img src="static/images/voin_1.png" alt="Воины 1" width="500" height="200">
        <img src="static/images/voin_2.png" alt="Воины 2" width="500" height="200">  
        <br></br></small>
        
        <br></br>
         <h1>Пантеон:</h1>
         <small><i>Если вы будете достаточно внимательны то в <strike>Канализации</strike> поисках приключений вы найдёте вход в чертоги Богов.
         Там Вам предстоит сразиться со всеми Боссами и стать самым могущесвенным существом в игре.</i>
         <br></br>
         <b>Желаете посмотреть на битвы в Пантеоне?
         Заходите в <i>"Продукцию"</i>, подробнее в разделе "Эксклюзив".</b>
            <br></br></small>
          
         
    </div>
    
          <div class="layer_five">
        <h1>Секреты:</h1>
        <b><br>Игра Hollow Knight богата разными секретами и фактами, одни из них вам могут быть хорошо известны, некоторые окажуться
        для Вас в новинку, давайте перечилять :)</b></b>
        <br></br>
        <br></br>
         <small><br> <b>112%</b> - Да, как бы не было это странно, но игру можно пройти на 112%. Это связанно с секеретными локациями и Пантеоном. Подробнее написанно на нашей
         Карте Халоунеста, которую можно приобрести в разделе "Продукция".</br>
 
         <br><b>Создатель Масок</b> - В Паучем Гнезде спрятано загадочное существо, называющее себя "Создатель масок". По своему названию можно понять,
         что это существо мастерит маски для безликих. Так же, откуда-то, оно знает о исстиной природе Рыцаря.
         Всякий раз когда Игрок входит в комнату Создателя масок, у того меняется прикид. Но не смотря на свю мрачность, существо ведёт себя мирно и
         даже предложил нам помощь в создании сайта и продукции...</br>
         
        <br><b>Жук-Починжук</b> - Миролюбивое создание, которого Игрок может встретить при входе в Перепутье. Жук сразу улетает, но его можно и убить (не советую).
        Починжук помог мне в поиске этого сайта, да и навыки программирования у него не шуточные. Он заслуживает отдельного слова и благодарности.
        Подробнее смотрите в "О нас"</br>
        
        <br><b>Трон Белого Короля</b> - Белый Король, загадочная личность, а его дворец - ещё загадочее. Исследуя мир, мы можем накнуться на замок этого существа,
        на его трон и труп. На троне можно посидеть и послушать саунтрек Полового Рыцаря, но перед этим не берите белую безделушку, упавшую вместе с Бывшим Королём.</br>

        <br><b>Дом Навозного Защитника</b> - Навозник, ещё один главный Босс, победа над ним открывает нам доступ в Рощу Измы. Не смотря на своё предназначение
        в игре, после битвы он попросит у нас прощения за внезапное нападение и, в качестве трафея, "<i>отдаст</i>" амулет Защитника.
        Игроки могут найти его секретную комнату, если они используют заклинание "Опустошающая Пике" под насосом, который открывает доступ к Роще. 
        Рыцарь может найти спящего здесь Защитника, а также статуи Пяти Великих Рыцарей (включая него) и Бледного Короля, сделанных из навоза.
        <i>P.s: с ним можно сразиться в Грёзах...</i></br>
        
        <br><b>Нежный подарок</b> - Созвучно с Нежным цветком, да? Думаю у всех была проблема отнести его покойной погомолихе, и все боялись возвращаться к
        Плакальщице с разрушенным растением...
        Но вряд ли кто-то знал, наверно, что Нежный цветок можно отнести не только к Богомолихе, но и многим другим существам:</br>
        <br>- Старейшина будет искренне тронут подарком;</br>
        <br>- Богоискательница <strike>откроет нам новую концовку</strike> <b>ТОЖЕ БУДЕТ РАДА (?!);</b></br>
        <br>- Оро, наш вредный учитель смягчиться данному подарку.</br>
        <br></br>
        
        <br><b>Отшельница Трем</b> - Трем, дитя Тремоматки, которую чудом миновала чума. Отшельница станет следующей Тремоматкой, так как прошлая была убита.
        Встретить Трем можно в Канализации, рядом с <strike>Богоискательницей</strike> <b>водой</b>......</br>
        
        <br><b>Воспоминания Богоискательницы</b> - Секретная-секретная-секретная Локация, на которую можно попасть с вероятность всего 2%. Попасть туда я так и не
        смогла, но по словам Починжука (который по счастливой случайности умудрился туда попасть с помощью "ключа Пантеона", <i>см Продукцию</i>.): "там холодно, страшно, сильные грозы. Богоискательница стоит
        в самом углу и что-то бормочет, а в самом конце пещеры стоит сундук. Открыть его я не смог, ты меня разбудила..."</br>
        
        <br><b>Статуя Могучего Прекрасного Сильного и Непобедимого Зота</b> (фух) - Можно встретить в подвале дома Бетти, с помощью меча грёз можно сразиться 
        с воображаемой версией Зота пять раз. С каждым разом интерес Бетти к Принцу будет угасать.</br>
        <b>Интересно подметить</b>, что в <b>Пантеоне</b> есть секретная комната, где можно сразиться с разнообраными версиями Зота. Сложность на высшем уровне, победить
        надо 50 штук. А награда будет: интересная тема в меню игры... и всё.</br>
        
        <br></br>
    </div></small>
    
    
    </div>
<footer>
<div class="examplethree">
    <h1>Hollow Knight - Фан Мир.</h1>
    <b>Ознакомление</b>
    <br><i>Сфокусируйте свою Душу и Погрузитесь в мир Павшего Рыцаря! =)</i></b>
</div>
</footer>
    {% endblock %}

  </body> 
</html> 
